@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-action .btn {
  margin-right: 15px;
}

input.formInput {
  border-bottom: 1px solid #000!important;
  box-shadow: 0 1px 0 0 #000!important;
  padding: 0 10px;
  
}
input.formInput:focus {
  border-bottom: 1px solid #0097a7!important;
  box-shadow: 0 1px 0 0 #0097a7!important;
  
}
.input-field>input[type]:-webkit-autofill:not(.browser-default)+label {
  color: #0097a7!important;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label {
  color: #0097a7
}

nav .nav-wrapper {
  padding: 0 20px;
}